
*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'HeadSemi';
    src: url('fonts/HeadSemi.ttf');
}

@font-face {
    font-family: 'inter';
    src: url('fonts/Inter_28pt-Regular.ttf');
}


body, html{
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
      background-color: #d8d8d8;}

header {height: 60px;
        position: sticky;
        top:0;
        width: 100%;
        background-color: #0B2169;
        z-index: 1000;
}


header .logo{
      float: left;
      height: inherit;
      justify-content: center;
      align-items: center;
      display: flex;
      color: #d8d8d8;
}

header .logo-text{font-size: 2em;
            font-weight: bold;
            color: #c6c2bc;
            margin-left: 10px;
            float:left;
            font-family: 'HeadSemi', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-decoration: none;
            text-align: center;
         }

header ul{ 
            margin: 0px;
            padding: 0px;
            list-style: none;
            height: inherit;
            display: flex;
            align-items: center;
            position: absolute;
            justify-content: center;
            width: 100%;}

header ul li {position: relative;
              float:left ;
              text-align: center;
              height: inherit;
              }

header ul li a{ display: block;
                padding: 18px;
                text-decoration: none;
                font-size: 1.1em;
                height: inherit;
                color: #d8d8d8;}

header ul li a:hover{background-color: #1136AD;
                      transition: .25s;
                      color: #d4d4d4;
                    }

header ul li a.active{background-color: #4752C4;
                      color: #efefef;}

header .nav-btn{float: right;
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
                position: relative;}


header #open-nav,header #close-nav{display: none;}

/*hero section*/
.hero{height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    gap: 20px;}

 .hero-img{height: 80%;
            width: 35%;
            background-image: url('images/B1A68DA6-CDEF-498D-8D3D-8DD55C513147.png');
            display: flex;
            background-size: cover;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position:center;
            border-radius: 30px 0px 30px 0px;}

.hero-text{width: 50%;
        position: relative;
        text-align: center;
        color: #0e0d0d;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
}
 
.h1{font-family: 'HeadSemi' , sans-serif;
    line-height: 50px;
    font-size: 3.2rem;
    color: #0e0d0d;}

.subheads{font-family: 'HeadSemi' , sans-serif;
    text-align: left;
    line-height: 50px;
    font-size: 3rem;
    color: #0e0d0d;}

.sub1{font-family: 'inter', sans-serif;
    font-size: 1rem;
    color: #2d2d2d;
    margin-top: 5px;
}

.btn{ font-family: 'HeadSemi' , sans-serif;
      background-color: #1A4EF9;
      border: none;
      padding: 10px;
      font-size: 1.2rem;
      border-radius: 15px 15px 15px 15px;
      box-shadow: black 1px 1px 5px;
      color: white;}

.btn:hover{background-color: #1136AD;
            transition: .25s;
            cursor: pointer;
            box-shadow: black 1px 1px 10px;}

/*sections on body*/
.sections{ margin-top: 20px;
           width: 100%;
           display: flex;
           height: 100%;
           justify-content: center;}

.subsec{   padding: 20px;
           background-color: white;
           width: 90%; 
           height: inherit;
           border-radius: 25px;}

/*about section*/
#about{display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        margin-top: 20px;}

#abt-huddle{height: 300px;
            width: 100%;
            border-radius: 20px;
            object-fit: cover;
            box-shadow: black 1px 1px 5px;}




           /*service section*/
#service{ display: flex;
          gap: 20px;}

.service-text-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.service-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#service-btn1{
    width: 200px;
}

#service-btn2{
    opacity: 80%;
}


.service-img{display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 60% 40%;
    height: 300px;
    width: 100%;
    gap: 10px;
    margin-top: 100px;
}

#img1{height: 100%;
     width: 100%;
    grid-column:1;
    grid-row: 1/3;
    object-fit: cover;
}

#img2,#img3{height: 100%;
      width: 100%;
      object-fit: cover;}

#img2{
    grid-row: 1;
    grid-column: 2;
}

#img3{
    grid-row: 2;
    grid-column: 2;
}

.images{
    border-radius: 20px;
}


/*qualities section*/
#qualities{display: flex;
    flex-direction: column;
    height: 100%;
}

.qua-img{height: 100%;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #1a4ef935;
    gap: 30px;
}

#Qimg{ background-color: #1540cf9b;
    padding: 10px;
    width: 250px;
    height: 230px;
}

.caption{font-family: 'inter', sans-serif;
    font-size: 1.2rem;
    color: #0e0d0d;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}
#Qimg:hover{transform: scale(1.1);
            transition: .25s;
            box-shadow: black 1px 1px 5px;
            cursor: pointer;}

.contact-container{display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    
    }

form,.socials-container{display: flex;
    flex-direction: column;
     background-color: #1a4ef935;
    max-width: 500px;
    gap: 5px;
    padding: 20px;
    border-radius: 25px;width: 50%;
    height: 250x;}

input{ height: 45px;
        width: 100%;
        border-radius: 10px;
        border: none;}

.socials-container{
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 10px;
    padding: 20px;}

.socials , .link{display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 1px;
    font-size: 1.2em;
    color: #0E2B8B;
    text-decoration: none;
   }

.socials:hover, .link:hover{color: #0e0d0d;
    transition: .25s;
    cursor: pointer;}

footer{width: 100%;
        background-color: #0B2169; 
        color: #d8d8d8;
        padding: 20px;
        position: relative;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 0.9rem;
        font-family: 'inter', sans-serif;
        z-index: 1000;}




